[{:itonami.blueprint/social-impact [:local-jobs], :itonami.blueprint/domain :services/retail-merchandising, :itonami.blueprint/required-technologies [:robotics :forms :audit-ledger], :itonami.blueprint/isco-08 "9334", :itonami.blueprint/name "Independent Retail Merchandising & Restocking Practice", :itonami.blueprint/governor :retail-merchandising-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-9334", :itonami.blueprint/license "AGPL-3.0-or-later"}]